@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body{
  background: -webkit-linear-gradient(right, powderblue, #317783);
  background: -moz-linear-gradient(right, powderblue, #317783);
  background: -o-linear-gradient(right, powderblue, #317783);
  background: linear-gradient(to left, powderblue, #317783);
  font-family: "Lucida Console", "Courier New", monospace;
}

/* logo */
.logo img{
    height:10%;
    width:10%;
    position: relative;
    left: -15px;
}


/*menu bar*/
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  /* menu icon */
  .icon {
    width: 50px;
    height: 30px;
    position:relative;
    top: 45px;
    left:1400px;
    float: left
  }
  
  .icon span {
    display: block;
    position: absolute;
    height: 10px;
    width: 100%;
    background: #164f60;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
  }
  
  .icon span:nth-child(1) {
    top: -5px;
  }
  
  .icon span:nth-child(2), .icon span:nth-child(3) {
    top: calc(50% - 5px);
  }
  
  .icon span:nth-child(4) {
    top: calc(100% - 5px);
  }
  
  .icon.open span:nth-child(1) {
    top: calc(50% - -5px) !important;
    transform: rotate(135deg);
  }
  
  .icon.open span:nth-child(2) {
    opacity: 0 !important;
  }
  
  .icon.open span:nth-child(3) {
    top: calc(50% - -5px) !important;
    transform: rotate(-135deg);
  }
  
  .icon.open span:nth-child(4) {
    top: calc(50% - -5px) !important;
  }

  /* image slider */
  .container{
    padding: 15px;

  }
  .slider-wrapper {
    position: relative;
    max-width: 48rem;
    top:0px;
  }
  .slider{
    display: flex;
    aspect-ratio: 30/ 9;
    width:100%;
    background-size: contain;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3 rem -0.75rem hsla(0, 0% ,0%, 0.25);
    border-radius: 0.54rem;
    width:1480px;
    -ms-overflow-style: none; /* Hide scrollbar IE and Edge */
	  scrollbar-width: none; /* Hide scrollbar Firefox */
    /* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); */

  }

  .slider::-webkit-scrollbar{
    display: none;;
  }
  
  .slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
  }

  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 98%;
    transform: translateX(-50%);
    z-index: 1;
  }
  .slider-nav a {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.75;
    transition: opacity ease 250ms;
    
  }
  
  .slider-nav a:hover {
    opacity: 1;

  }

  .sec-nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 6px;
    /* background-color: rgb(0, 0, 0); */
    color: rgb(255, 255, 255);
    border-radius: 10px;  
    padding: 1rem;
    position: relative;
    background: linear-gradient(to right, rgb(79, 108, 181), rgb(15, 45, 120));
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  }

  .sec-nav .s-left{
    display: flex;
  }

  .sec-nav p:hover{
    color:rgb(19, 11, 92);
    cursor: pointer;
    font-weight:600;
  }

  .s-left p{
    margin-inline-start: 50px;
    font-size: 1.5rem;
  }

  /* upcoming events */
  .upc-eve h1{
    font-family: "Lucida Console",  monospace;
    text-align: center;
    padding: 22px;
    
  }

  .upc-eve .card{
    float: left;
    display: flex;
    justify-content: center;
    justify-content: space-around;


  }
  .card img{
    padding-left: 20px;
    height: 150px;
    aspect-ratio: 16/9;
    margin-block: 18px;
    border-radius: 5px;
    transition: 0.5s all ease-in-out;
    float:left;
  
  }

  .card:hover img{
    transform: scale(1.23);
  }